<div class="container">
  <h1>Welcome to Poopypants!</h1>
  <h2>Poop!...and Pants!</h2>
  <h3>Now with more even more poop!</h3>

  <p>Please login here:</p>
  <form action='/login' method='post'>
    <input type='text' name='username' placeholder='Insert Username Here' required><br>
    <input type='password' name='password' placeholder='Insert Password Here' required><br>
    <input type='submit' value='Login'><br><br>
  </form


<p>Not a poopy member? Create an account here!</p>
  <form action='/create_account' method='post'>
    <input type='text' name='first_name' placeholder='First Name' required>
    <input type='text' name='last_name' placeholder='Last Name' required>
    <input type='email' name='email' placeholder='Email' required>
    <input type='text' name='username' placeholder='Username' required><br>
    <input type='password' name='password' placeholder='New Password' required><br>
    <input type='submit' value='Create Account'>
  </form
</div>

